.advantages {
  margin: 0 auto;
  padding: 0;
  min-height: 380px;

  @media (min-width: @tablet-width) {
    min-height: 736px;
    margin: 0;
    margin-bottom: 47px;
    padding: 14px 0;
  }

  @media (min-width: @desktop-width) {
    min-height: 372px;
    margin: 0;
    padding: 14px 0;
  }
}

.advantages__heading {
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 32px;
  }
}

.advantages__list {
  .list-reset();

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 230px);
    column-gap: 153px;
    row-gap: 37px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 230px);
    column-gap: 94px;
    row-gap: 30px;
  }
}

.advantages__item {
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    margin: 0;
    min-height: 280px;
  }
}

.advantages__description {
  margin: 0;
  padding: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}
