.comments__field-input {
  .fieldset-reset();
  margin: 0 auto;
  margin-bottom: 23px;
  padding: 0;
  min-height: 214px;
  width: 280px;
}

.comments__filter-title {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 38px;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
}

.comments__filter-input {
  width: 280px;
  min-height: 150px;
  margin: 0 auto;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  border-color: #e7e7e7;
}
