.examples {
  padding: 25px 20px 40px;
  background-color: #f2f2f2;
}

.examples__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.examples__title {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.examples__description {
  margin: 0;
  padding: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.examples__results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.examples__type {
  width: 124px;
  min-height: 70px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.examples__number {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
}

.examples__text {
  width: 124px;
  margin: 0;
  padding: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #444444;
}

.examples__cost {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.examples__list {
  .list-reset();
}

.examples__toggles {
  margin: 0;
  padding: 0;
}

.examples__toggle {
  margin: 0;
  padding: 0;
}
