.form__title {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 38px;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.form__field-input {
  .fieldset-reset();
  margin: 0 auto;
  padding: 0;
  min-height: 238px;
  width: 280px;
}

.form__filter-title {
  margin: 0 auto;
  margin-bottom: 38px;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.form__filter-type {
  margin: 0 auto;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
}

.form__apply {
  min-height: 77px;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 32px;
  padding: 0;
}

.form__button {

}

.form__text {
  width: 280px;
  margin: 0 auto;
  padding: 21px 0 0;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}
