.main-catalog__title {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.main-catalog__more {
  min-height: 207px;
  margin: 0 20px 10px;
  padding: 25px 0 15px;
}

.main-catalog__secondary-title {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
}

.main-catalog__description {
  margin: 0;
  padding: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-style: normal;
  color: #444444;
}

.main-catalog__link {
  display: block;
  min-height: 40px;
  width: 280px;
  margin: 0;
  padding: 5px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  background-color: #f2f2f2;
  text-transform: uppercase;
  text-align: center;
  align-content: center;
}

.main-catalog__gift {
  margin: 35px 20px;
  min-height: 290px;
  background-image: url("../img/gift-mobile.jpg");
  background-repeat: no-repeat;
}

.main-catalog__gift-background {
  width: 280px;
  height: 290px;
  background-color: rgba(104, 183, 56, 0.85);
}

.main-catalog__gift-text {
  width: 161px;
  margin: 0 auto;
  padding: 0;
  color: #ffffff;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}
