.main-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media (max-width: @mobile-width-only) {
    width: 320px;
    margin: 5px auto;
    position: relative;
    min-height: 66px;
    padding: 15px 20px;
  }

  @media (min-width: @tablet-width) {
    flex-direction: row;
    width: 708px;
    margin: 25px auto;
    padding: 5px;
    min-height: 50px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    margin: 55px auto;
  }
}

.main-nav__logo {
  width: 190px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @tablet-width) {
    width: 175px;
  }

  @media (min-width: @desktop-width) {
    min-width: 202px;
  }
}

.main-nav__logo-image {
  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }
}

.main-nav__logo-text {
  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }
}

.main-nav__button {
  position: relative;
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
}

.main-nav--nojs .main-nav__button {
  display: none;
}

.main-nav--opened .main-nav__button {
  @media (max-width: @mobile-width-only) {
    position: absolute;
    background-image: url("source/img/icons/burger-menu.svg");
    //&::before,
    //&::after {
    //  content: "";
    //  position: absolute;
    //  right: 0;
    //  width: 24px;
    //  height: 2px;
    //  background-color: #000000;
    //}

    //&::before {
    //  transform: rotate(45deg);
    //  box-shadow: none;
    //}
    //
    //&::after {
    //  transform: rotate(-45deg);
    //}

    //&:hover::before,
    //&:hover::after {
    //  background-color: #68b738;
    //}
    //
    //&:active::before,
    //&:active::after {
    //  background-color: #68b7384d;}
  }
}

.main-nav--closed .main-nav__button {
  @media (max-width: @mobile-width-only) {
    position: absolute;
    background-image: url("source/img/icons/close-button.svg");
    //content: "";
    //position: absolute;
    //top: 4px;
    //left: 0;
    //width: 24px;
    //height: 2px;
    //background-color: #000000;
    //box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
  }
}

//.main-nav--closed .main-nav__button:hover::before {
//  @media (max-width: @mobile-width-only) {
//    background-color: #68b738;
//    box-shadow: 0 8px 0 0 #68b738, 0 16px 0 0 #68b738;
//  }
//}

//.main-nav--closed .main-nav__button:active::before {
//  @media (max-width: @mobile-width-only) {
//    background-color: #68b7384d;
//    box-shadow: 0 8px 0 0 #68b7384d, 0 16px 0 0 #68b7384d;
//  }
//}

.main-nav__list {
  .list-reset();
  margin: 5px 0;

  @media (min-width: @tablet-width) {
    min-width: 440px;
    display: flex;
    flex-wrap: wrap;
    gap: 33px;
  }
}

.main-nav--opened .main-nav__list {
  @media (max-width: @mobile-width-only) {
    width: 320px;
    display: block;
    position: absolute;
    z-index: 1;
    top: 66px;
    right: 0;
  }
}

.main-nav--closed .main-nav__list {
  @media (max-width: @mobile-width-only) {
    display: none;
  }
}

.main-nav--nojs .main-nav__list {
  @media (max-width: @mobile-width-only) {
    display: block;
    position: static;
    min-height: 0;
  }
}

.main-nav__item {
  align-content: center;
  text-align: center;
  background-color: #ffffff;

  @media (max-width: @mobile-width-only) {
    width: 100%;
    margin: 0;
    padding: 10px 20px;
    min-height: 66px;
  }

  @media (min-width: @tablet-width) {
    padding: 2px;
    min-height: 36px;
  }

  @media (min-width: @desktop-width) {
    min-height: 40px;
  }
}

.main-nav__link {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;

  &:hover {
    opacity: 60%;
  }

  &:active {
    opacity: 30%;
  }

  @media (min-width: @tablet-width) {
    font-size: 18px;
    line-height: 24px;

    &--current {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: -12px;
        left: 0;
        height: 2px;
        background: #68b738;
      }
    }
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
  }
}
